.App {
  max-width: 600px;
  margin: 30px auto;
}
.bg {
  background-image: url("https://img.freepik.com/premium-photo/floating-inle-people-house-inle-lake-with-beautiful-sky-can-use-foe-promote-tourism-inla-village-myanmar_73740-292.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.App footer {
  font-size: 15px;
  margin: 10px 0;
}
