.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
  color: rgb(135, 135, 135);
}

.logo-bar {
  height: 70px;

  margin-bottom: 10px;

  padding: 5px 15px;
  border-radius: 20px;
  justify-content: space-between;
}
.logo-bar .logo-title {
  font-size: 43px;
  font-weight: bold;
  color: #f72585;
  margin: 0;
  padding-top: 10px;
}
.image-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.Weather h1 {
  font-size: 28px;
  font-weight: 600;
  margin: 20px 0 0 0;
  line-height: 29px;
  margin-bottom: 10px;
  color: rgb(255, 0, 200);
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 20px;
  font-weight: 100;
  line-height: 23px;
  list-style: none;
  color: rgb(96, 98, 96);
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(255, 5, 84);
  font-size: 64px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .unit {
  font-size: 20px;
  font-weight: 400;
  position: relative;
  line-height: 2;
  top: -34px;
  color: rgb(255, 6, 155);
}
